
.total-cart {

    width: 100%;
    background-color: #003b3b;
    font-size: 2rem;
    padding: 5px 20px;
    color: #52ff00;
    }
.price{
    margin-top: 0;
    display: block;
    width: 100%;
}
    .cart-info{
        color: var(--secondary-color);
        line-height: 1.8;
    }
    .cart-info >h4{
        border-radius: 5px;
        color: #fff;
    }
    .dark {
        .cart-info >h4{
            background-color: #52ff00;
        } 
    }
    .bi-trash-fill{
        font-size: 20px;
        color: var(--secondary-color);
        cursor: pointer;
        transition: .3s;
        &:hover{
            display: inline-block;
            color: red;
            transform: scale(1.2);
        }
    }