.cart-page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.left-image {
  margin-right: 40px;
}

.left-image img {
  width: 600px;
}

@media(max-width:560px){
  .left-image {
   margin: 10px auto;
  }
  .left-image img {
    max-width: 100%;
  }
}
.cart-page-info {
 font-size: 24px;
  height: 400px;
  color: var(--secondary-color);
}
.cart-page-title{
  font-size: 40px;
  color:rgb(0, 70, 41)
}
.cart-page-form {
  
}
.cart-page-form input{
  padding: 5px;
  border: 1px solid salmon;
  outline: none;
  border-radius: 0 7px;
  margin-right:5px

}
.add-btn-cart{
  border: none;
  cursor: pointer;
  padding: 5px;
  background-color: salmon;
  border-radius: 0 7px;
}

