body{
    background-color: var(--main-color);
}

.home-container{
    margin-top: 50px auto;
    min-height: 100vh;

}

.car-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px auto;
}

.car-items .car-item {
    width: 400px;
    text-align: center;
    background-color: var( --main-color);
    margin: 10px;
    border-radius: 20px ;
    border-top-right-radius: 40px;
    border: 1px solid var(--secondary-color);
  
}
.dark{
    .car-items .car-item{
        border: 1px solid #2196F3
    }
} 


.car-item img {
    border-top-right-radius: 40px;
    width: 100%;
    height: 200px;
}

.cart-title{
    margin-top: 3px;
    text-transform: uppercase;
    color: var(--secondary-color);
}


.cart-info p {
    padding: 0 5px;
    color: var(--secondary-color);

}
.cart-info b {
    color: var(--secondary-color);
}

.cart-btn-detalis{
    border-radius: 5px;
    padding: 6px;
    outline: none;
    border:none;
    cursor: pointer;
    background-color: var(--secondary-color);
    margin-bottom: 10px;
}
.cart-btn-detalis a{
    color: var(--main-color);
}
